{% extends 'main.html' %}
{% block content %}

<body>
    <div class="text-center">
        <p class="lead">Some information about the company</p>
        <p class="blockquote">Some information about the company</p>
        <p class="lead">Some information about the company</p>
        <p class="lead">Some information about the company</p>
        <p class="lead">Some information about the company</p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <figure>
          <blockquote class="blockquote">
            <p>Awesome company.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Said <cite title="Source Title">Someone</cite>
          </figcaption>
        </figure>
    </div>
</body>

{% endblock content %}