{% extends 'main.html' %}
{% block content %}

<body>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">{{ object_list.first.name }}</h1>
      <p class="lead fw-normal">{{ object_list.first.short_description }}</p>
      <a class="btn btn-outline-secondary" href="{% url 'core:product' pk=object_list.first.id %}">Buy now</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</main>

<main class="container">

  {% for product in object_list %}
      {% if not forloop.first %}
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">{{ product.get_tag_display }}</strong>
                  <h3 class="mb-0">{{ product.name }}</h3>
                  <p class="card-text mb-auto">{{ product.short_description }}</p>
                  <a href="{% url 'core:product' pk=product.id %}" class="stretched-link">Find more</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img src="{{ product.image.url }}" width="200" height="250" class="bd-placeholder-img">
                </div>
              </div>
            </div>
          </div>
      {% endif %}
  {% endfor %}

</main>

</body>

{% endblock content %}